#exampleModal .modal-content{ /*aqui modifica a caixa inteira do menu que aparece do lado no site */

    width: 300px;
    background-color: #9abf99;

}

.list-group-item{ /*aqui modifica a cor da caixa em que as palavras do menu (Painel,Eventos no Calendário,Processos,Notificações e Conta) estão*/

     background-color: #9abf99;
     
}
a:link{
    text-decoration: none;
}

.list-group-item:hover{ /*aqui meche na cor que fica quando passa o mouse na caixa do texto dentro do menu (Painel,Eventos no Calendário,Processos,Notificações e Conta)*/

background-color: #67A665;
    text-decoration: none;

}

.list-group-item span{ /*aqui meche no texto dentro do menu (Painel,Eventos no Calendário,Processos,Notificações e Conta)*/

margin-left:15px;

}

.imagem { /*modifica as caracteristicas da imagem que está no inicio do menu*/

width:100px ;
height:100px ;
border-radius:100px ;
margin-left: 75px;

}


#sidebar_btn { /*aqui modifica as caracteristicas do icone de menu que temos na navbar*/


left:1px;
color: #fff;
font-size: 25px;
margin: 5px 0;
cursor: pointer;
transition:0.5s;
transition-property:color;
bottom: 8px;

}

.sair_btn { /*aqui modifica as caracteristicas do botão sair que temos no menu lateral do site*/

text-decoration: none;
color: #fff;

}

.sair_btn:hover{/*aqui modifica as caracteristicas de quando o mouse passa em cima do botão sair*/


color: #fff;

}
#logo{ /*Imagem Gema presente no menu*/

    width:45px;
    margin-left:15px;

   
}


.navbar-brand1 /*Título Gema no Menu*/

{

margin-left: 60px;
color: #b2d3b1;
text-decoration: none;
position: fixed;
font-size: 18px;



}

a:hover {

    color: #fff;
}

.navbar-brand span{ /*Título Gerenciador de Eventos Mediados Acadêmicos no Menu*/

    color: #b2d3b1;


}



h3{

    margin-top:8px;
    margin-left:03px;
    

}

/*Processos*/

.card1 { /*Aqui modifica as informações da div em que estão o pendente, aprovado, recusado*/

    height: 175px;
    margin-top: 23px;
    border: solid 1px #fff;
    border-radius:.25rem ;
    
}



.card2{ /**/
    
    height: 60px;
    width:100%;
    margin-top: -3px;
    background-color: #bed3be;
    border: 01px solid rgb(223, 223, 223);
    
}

.card3 { /**/
    
    height: 60px;
    width:100%;
    background-color: #bed3be;
    margin-top: 20px;
    border: 01px solid rgb(223, 223, 223);
    
}
.card4 { /**/
    
    height: 60px;
    width:100%;
    background-color: #bed3be;
    margin-top: 20px;
    border: 01px solid rgb(223, 223, 223);
    
}

#apro {

    /*background-color: rgb(43, 255, 0);*/
    color:#000;
    margin-left: 50%;
    font-family: 'Bebas Neue', cursive;

}

#card2 {

   /*background-color: aqua;*/
    color: rgb(14, 18, 43);
    margin-left: 38%;
    font-family: 'Karla', sans-serif;
   
    
}

.card2:hover {

    background-color: #afc0af;

}

#pend{

    /*background-color: rgb(43, 255, 0);*/
    color:#000;
    margin-left: 48%;
    font-family: 'Bebas Neue', cursive;

}

#card3 {

    /*background-color: aqua;*/
    color: rgb(14, 18, 43);
    margin-left: 38%;
    font-family: 'Karla', sans-serif;

}

.card3:hover {

    background-color: #afc0af;

}

#rec {

    /*background-color: rgb(43, 255, 0);*/
    color:#000;
    margin-left: 49%;
    font-family: 'Bebas Neue', cursive;
}

#card4 {

    /*background-color: aqua;*/
    color: rgb(14, 18, 43);
    margin-left: 38%;
    font-family: 'Karla', sans-serif;
    
}

.card4:hover {

    background-color: #afc0af;

}





@media only screen and (max-width:1760px) { /*modifica as caracteristicas especificadas aqui quando a tela esta no maximo desse tamanho*/

    

    .navbar-brand span {
   

        display: none;
            
    
    }



}







@media only screen and (max-width:1050px) { /*modifica as caracteristicas especificadas aqui quando a tela esta no maximo desse tamanho*/
   

    .navbar-brand span {
   

        display: none;
            
    
    }

   


      
    
    
  

    
}







    @media only screen and (max-width:587px) { /*modifica as caracteristicas especificadas aqui quando a tela esta no maximo desse tamanho*/


   
   
        .navbar-brand span {
       
    
        display: none;
            
    
        }
        .fc-toolbar h2 {
        font-size: 1.5em;
        }
      
    
      
    
    
    
 
    

}


