
/*InformaÃ§Ãµes do acesso rapido e links uteis*/


#span2 { /*InformaÃ§Ãµes dos tÃ­tulos da parte informaÃ§Ãµes do acesso rapido e links uteis/

    color: #000;
    /*font-family:'Arial Narrow', Arial, sans-serif;*/
    margin-left:20px;
    margin-top: 20px;
    font-size:20px;
}

.emailnome { /*modifica as caracteristicas do titulo alterar email*/

   
    margin-left:20px;
}

.emailnome:hover { /*aqui modifica as caracteristicas de quando passa o mouse no nome alterar email*/

    color: #000;
}

.senhanome { /*modifica as caracteristicas do titulo alterar senha*/

    margin-left:20px;
    
}

.senhanome:hover { /*aqui modifica as caracteristicas de quando passa o mouse no nome alterar senha*/

    color: #000;
}

.eventos { /*modifica as caracteristicas do titulo eventos no calendario*/

    margin-top: -08px;
    margin-left:20px;
}

.eventos:hover{ /*aqui modifica as caracteristicas de quando passa o mouse no nome eventos no calendario*/

    color: #000;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem ;
}



.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #67a665;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #3e8c3b;
}


.input-box label,
.gender-title h6 {
    font-size: 0.80rem;
    font-weight: 900;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.editar-button {

    
    width: 20%;
    margin-right: 50px;
    margin-top: 30px;
}


.editar-button button {
    width: 138%;
    margin-top: 0.3rem;
    border: none;
    background-color: #67a665;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.editar-button button:hover {
    background-color: #a2c2a1;
}

.editar-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;

}








@media only screen and (max-width:1760px) { /*modifica as caracteristicas especificadas aqui quando a tela esta no maximo desse tamanho*/

    

    .navbar-brand span {
   

        display: none;
            
    
    }

      
}



@media only screen and (max-width:1330px) { /*modifica as caracteristicas especificadas aqui quando a tela esta no maximo desse tamanho*/

  

    .navbar-brand span {
   

        display: none;
            
    
    }

    h3{
        font-size: 25px;
        margin-left:185px;
        margin-top:-110px;
        
        
    }

    .editarnome {

        margin-left: 185px;
        margin-top:0px;
       
        
    }

    .imagem1 {

        margin-left: 42px;
        margin-top:25px;
    }

      
}



@media only screen and (max-width:950px) { /*modifica as caracteristicas especificadas aqui quando a tela esta no maximo desse tamanho*/
   

    .navbar-brand span {
   

        display: none;
            
    
    }

    h3{
        font-size: 22px;
        margin-left:145px;
        margin-top:-115px;
        
        
    }

    .editarnome {

        margin-left: 145px;
        margin-top:0px;
       
        
    }

    .imagem1 {

        margin-left: 22px;
        margin-top:25px;
    }

  
      
}

@media only screen and (max-width:770px) {


h3{
    font-size: 20px;
    margin-left:145px;
    margin-top:-110px;
    
    
}

.imagem1 {

    margin-left: 22px;
    margin-top:25px;
}

.editarnome {

    margin-left: 145px;
    margin-top:0px;
   
    
}

.eventos {

    margin-top: -08px;
    margin-left:20px;
}

#span2{

    font-size: 15px;
    margin-top:10px;
}
}




@media only screen and (max-width:600px) { /*modifica as caracteristicas especificadas aqui quando a tela esta no maximo desse tamanho*/


   
   
    .navbar-brand span {
   

    display: none;
        

    }
    .fc-toolbar h2 {
    font-size: 1.5em;
    }

    .imagem1 { /*modifica as caracteristicas da imagem que estÃ¡ no meio da pagina*/

        width:110px ;
        height:110px ;
        border-radius:100px ;
        margin-left: 25px;
        margin-top:25px;
        
        }
    
        h3{

            
            margin-top: -125px;
            margin-left: 160px;
            font-size: 18px;
            
        
        
        }
        .editarnome {

            margin-left: 160px;
            margin-top: 5px;
           
            
        }


        h5{

            
            margin-top: 25px;
            margin-left: 20px;
            font-size: 18px;
        
        
        }

      
        
        

}


}