@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Smooch+Sans:wght@300;400;900&display=swap');

body {

    margin:0;
    font-family: 'Noto Sans', sans-serif;
}

body *{

box-sizing: border-box;


}

.main-login {

width:100vw;
height:100vh;
background-color:#67A665;
display:flex;
justify-content:center;
align-items:center;

}

.left-login{

    width:50vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;


}

.left-login > h1{

color:rgb(209, 238, 190);
font-size:40px;
margin-bottom:15px;
font-family: 'Oswald', sans-serif;
margin-left: 45px;
margin-top: -40px;
}

.animação {
    width: 20vw;
    margin-left:55px;
}

.if {

width:02vw;
height:4vh;



}

.right-login {

    width:50vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.card-login {

    width:65%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:30px 35px;
    background:#9abf99;
    border-radius:20px;
    box-shadow: 0px 10px 40px rgb(45, 51, 34);
    
}

.card-login > h1 {

color: whitesmoke;
font-weight:800;
margin:0;


}



.textfield {

width:100%;
display:flex;
flex-direction: column;
align-items:flex-start;
justify-content: center;
margin: 10px 0px;
}


.textfield > input {

width: 100%;
border:none;
border-radius: 10px;
padding: 15px;
background-color: #F2F2F2;
color: rgb(0, 0, 0);
font-size:12pt;
box-shadow: 0px 10px 40px rgb(45, 51, 34);
/*outline:none;*/
box-sizing: border-box;
}

.textfield > label {

color: beige;
margin-bottom:10px;

}

.textfield  small{
    visibility: hidden;
}


.textfield > input::placeholder {

color: rgb(114, 117, 114);

}
/* Validação */ 
.textfield.success input{
	border: 2px solid #4ECA64;
   
    
}

.textfield.error input{
	border: 2px solid #DB5A5A;
   
}
.textfield.error small{
	visibility: visible;
	color:#000;
}
.textfield.success small{
	visibility: hidden;
}
.textfield.success i .img-success{
	visibility: visible;

}

.textfield.error i .img-error{
	visibility: visible;

}
.textfield i{
	position: absolute;
	right: 180px;
    visibility: hidden;
}
.btn-login {

    width:100%;
    padding:16px 0px ;
    margin:25px;
    border:none;
    border-radius:8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color:#3E8C3B ;
    cursor: pointer;
    box-shadow: 0px 10px 40px rgb(45, 51, 34);

}

.btn-login {

    background-color: #F2F2F2;
}

.btn-login > a{

    color: #3E8C3B;
    text-decoration:none;


}





.btn-cadastro{

    width:100%;
    padding:16px 0px ;
    margin:25px;
    border:none;
    border-radius:8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color:#3E8C3B ;
    cursor: pointer;
    box-shadow: 0px 10px 40px rgb(45, 51, 34);


}

.btn-cadastro {

    background-color: #F2F2F2;
}


.btn-cadastro > a{

    color: #3E8C3B;
    text-decoration:none;


}






@media only screen and (max-width:1280px) {
    .textfield i{
        right: 155px;
    
    }
}



@media only screen and (max-width:950px) {

.card-login{

    width:85%;
   

}
    .textfield i{
	right: 70px;

}

}

@media only screen and (max-width:600px) {

.main-login {

    flex-direction:column;

}

.left-login > h1 {


    display: none;
}

.left-login{

     width:100%;
     height:auto;

}

.right-login{

    width:100%;
    height:auto;

}

.animação {

   
    display: none;
    
    
}

.if {

    width:07vw;
    
    
    
    
    }

.card-login{

    width:85%;
    
}
.textfield i{
	right: 95px;

}

}


