* {
padding:0;
margin:0;
text-decoration:none;
list-style: none;
box-sizing: border-box;
 
}

/* Nossa Empresa*/

.div2{
    min-height: 20rem;
    min-width: 50rem;

}

.div2 p{
    width: 43rem;
    height: 8rem;
    font-size: 1.4rem;
   
}

.div2 h3{
    width: 50rem;
    height: 8rem;
    font-size: 4rem;
    font-family: fantasy;
   
}



.container-fluid1{

    background-color: rgb(230, 230, 230);
    margin-top:70px;
    height:680px;
}

.container-fluid2{

    background-color: rgb(194, 24, 24);
    margin-top:70px;
    height:680px;
}

.nossahistoria h3{

    text-align: center;
    font-family: fantasy;
    margin-bottom:30px;
    


}

.nossahistoria p{

    text-align: center;
    
}

.container{

    background-color: aqua;
}


.container-fluid3{

    background-color: rgb(194, 24, 24);
    margin-top:70px;
    height:400px;
}

.container-fluid4{

    background-color: rgb(156, 116, 116);
    margin-top:10px;
    height:250px;
}

